<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SambaapiUi TestSuite">
	<test name="NasaUIapi Validattion">
		<classes>
			<class name="com.samba.uitests.UITests" />
			<class name="com.samba.apitests.ApiTests" />
		</classes>
	</test>
</suite>